.authentication-form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(25, 23, 29);
  color: rgb(163, 163, 166);
}

.authentication-form-password-message {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  text-align: center;
}
