.chatarea-input {
  background-color: rgb(34, 37, 41);
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatarea-input-form {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatarea-input-text {
  background-color: rgb(34, 37, 41);
  height: 30px;
  width: 90%;
  padding: 8px;
  border-radius: 8px;
  outline: none;
  border: 1px solid rgb(86, 88, 86);
  color: rgb(209, 210, 211);
}
.chatarea-input-send {
  height: 60%;
  width: min-content;
  margin-left: 4px;
  border: 2px solid #c1c5c7;
  background-color: #e1e8eb;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatarea-input-send {
  display: inline-block;
  background-color: rgb(86, 88, 86);
  border: 0px;
  height: 50px;
  width: 50px;
}

.chatarea-input-send img {
  height: 32px;
  width: 32px;
  background-color: rgb(86, 88, 86);
}
