.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main-loading {
  flex: 0 0 auto;
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(26, 29, 33);
  color: rgb(209, 210, 211);
}

.main-header {
  flex: 0 0 auto;
  height: 4%;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #121016;
  border-bottom: 1px solid black;
}

.main-header-username {
  color: #fff;
  font-size: x-large;
  margin-left: 10px;
  margin-right: 10px;
}

.main-header-avatar {
  height: 30px;
  width: 30px;
  border-radius: 10%;
  margin-right: 10px;
  margin-left: 10px;
  /* border: 5px solid rgb(25, 23, 29); */
}

.main-content {
  flex: 0 0 auto;
  height: 96%;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.main-nochatroom-message {
  margin-left: 20px;
  margin-top: 40px;
  color: rgb(163, 163, 166);
}

.main-loading-indicator {
  height: 200px;
  width: 200px;
}
