.message {
  margin-top: 4px;
  margin-left: 4px;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.message-left-info {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.message-right-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.message-info {
  margin-bottom: 4px;
}

.message-info-sendername {
  font-size: larger;
  font-weight: bold;
  display: inline-block;
}

.message-info-sendername-loading {
  font-size: larger;
  font-weight: bold;
  display: inline-block;
  background-color: #606264;
  width: 100px;
  height: 20px;
  border-radius: 20px;
}

.message-info-time {
  margin-left: 8px;
  display: inline-block;
  font-size: small;
}

.message-sender-avatar {
  align-self: flex-start;
}

.message-sender-avatar-loading {
  height: 50px;
  width: 50px;
  background-color: #606264;
  border-radius: 10px;
}

.message-info-date {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  /* position: sticky;
  top: -89%; */
  /* bottom: 200px; */
  background-color: rgb(26, 29, 33);
  z-index: 1000;
}

.message-info-date_text {
  width: fit-content;
  border: 1px solid white;
  border-radius: 5px;
  margin: 0 auto;
  padding: 4px;
}
