.chatarea {
  flex: 0 0 auto;
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: rgb(26, 29, 33);
  color: rgb(209, 210, 211);
}

.chatarea-header {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.chatarea-header-title {
  font-weight: bold;
  font-size: xx-large;
}

.chatarea-header-adduser {
  position: absolute;
  right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatarea-header-adduser-button {
  background-color: transparent;
  border: 0px;
}

.chatarea-header-adduser_icon {
  cursor: pointer;
  filter: invert(95%) sepia(6%) saturate(41%) hue-rotate(169deg) brightness(90%)
    contrast(88%);
  height: 50px;
  width: 50px;
}

.chatarea-header-adduser_text {
  visibility: hidden;
  width: 80px;
}

.chatarea-header-adduser-button:hover + .chatarea-header-adduser_text {
  visibility: visible;
}

.chatarea-header-exit {
  font-weight: bold;
  font-size: x-large;
  position: absolute;
  right: 10px;
}

.chatarea-messages {
  height: 80%;
  padding: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
}
