html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(26, 29, 33);
  font-family: Consolas, monaco, "Ubuntu Mono", courier, monospace !important;
  font-size: small;
}

#root {
  height: 100%;
  width: 100%;
}

input[type="text"],
input,
button {
  font-family: Consolas, monaco, "Ubuntu Mono", courier, monospace !important;
  font-size: inherit;
}

button {
  background: transparent;
  border: 0px;
  color: inherit;
}
