.chatroom-preview {
  height: 24px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4px;
  padding-left: 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.chatroom-preview:hover {
  background-color: #27242c;
}

.chatroom-preview-name {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.chatroom-preview-name img {
  margin-right: 10px;
}

.chatroom-preview-selected {
  color: #ffffff !important;
  background: #1164a3 !important;
}
