.chatroom-preview {
  height: fit-content;
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4px;
  padding-left: 20px;
  box-sizing: border-box;
  cursor: pointer;
}

.chatroom-preview:hover {
  background-color: #27242c;
}

.chatroom-preview-name {
  flex: 0 0 auto;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.chatroom-preview-name_img {
  margin-right: 10px;
  flex: 0 0 auto;
  width: 20px;
}

.chatroom-preview-name_text {
  flex: 0 0 auto;
  overflow: hidden;
  width: calc(100% - 30px);
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
}

.chatroom-preview-selected {
  color: #ffffff !important;
  background: #1164a3 !important;
}

.chatroom-preview-loading {
  height: 24px;
  width: 80%;
  background-color: #606264;
  border-radius: 5px;
  margin: 4px auto;
}

.chatroom-personal-preview-loading-name {
  height: 24px;
  width: 80%;
  background-color: #606264;
  border-radius: 5px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
}

.chatroom-personal-preview-loading-avatar {
  height: 24px;
  width: 24px;
  background-color: #606264;
  border-radius: 5px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
}
